/* Google Font */
body {
	font-family: 'Epilogue', sans-serif;
	background: lightcyan ;
}

/* Container Border */

#landing:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
  cursor: pointer;

}

/* About Me */

#self-image {
	border-radius: 30%;
	background-image: var(--img-url), linear-gradient(#f9f047, #0fd850);
	border: 5px solid black;
	cursor: pointer
}

#about-me:hover {
	box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
	cursor: pointer
}

/* Projects */
.card {
	cursor: pointer 
}

.card.hover, .card:hover {
	box-shadow: 0 20px 40px rgba(0, 0, 0, .2)
}

/* Contact Me */
#contact-me:hover {
	box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
	cursor: pointer
}

/*Footer Icon*/
.footer-icon

.fa-telegram {
	color: 0088cc;
}