/* Google Font */
body {
	font-family: 'Epilogue', sans-serif;
	background: lightcyan ;
}

/* CSS Reset */
* {
	margin: 0;
	padding: 0;
}

/* BG Body */
.background-image {
	background-image: url("./image/wallpaper.jpg");
}

/* Image Border */
#landing {
	border: 1px solid black;
}

#landing:hover {
  box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
  cursor: pointer;
}

/* About Me */
#self-image {
	border-radius: 30%;
	border: 5px solid black;
	box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
	cursor: pointer;
}

#about-card:hover {
	box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
	cursor: pointer
}

#about-card {
	border: 1px solid black;
}

/* Projects */
.card {
	cursor: pointer 
}

.card:hover {
	box-shadow: 0 20px 40px rgba(0, 0, 0, .2)
}

#my-projects {
	border: 1px solid black;
}

/* Contact Me */
#contact-me:hover {
	box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
	cursor: pointer
}

#contact-me {
	border: 1px solid black;
}

/*Footer Icon*/
